In [5]:
import pandas as pd
df=pd.read_csv(r'C:\Users\ABC\Downloads\QN.csv')
df.head(5)

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (18,19,21,22,63,64,76) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,YCoord,ZoneMap,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,Version
0,QN,6,1,402,1.0,NaN,30.0,26.0,11101.0,L115,...,NaN,8d,Y,401 011,40101.0,NaN,4.000060e+09,09/20/2013,1,16V2
1,QN,6,3,402,1.0,1015.0,30.0,26.0,11101.0,L115,...,209421.0,8d,NaN,401 011,40101.0,NaN,0.000000e+00,NaN,1,16V2
2,QN,6,8,402,1.0,1011.0,30.0,26.0,11101.0,L115,...,209867.0,8d,NaN,401 011,40101.0,NaN,4.000060e+09,08/07/2013,1,16V2
3,QN,6,20,402,1.0,NaN,30.0,26.0,11101.0,L115,...,NaN,8d,NaN,401 011,40101.0,NaN,4.000060e+09,09/20/2013,1,16V2
4,QN,6,30,402,1.0,NaN,30.0,26.0,11101.0,L115,...,NaN,8d,NaN,401 011,40101.0,NaN,4.000060e+09,09/20/2013,1,16V2

In [4]:
df.shape

(324403, 84)

In [13]:
df.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthArea',
       'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address', 'ZoneDist1',
       'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1', 'Overlay2',
       'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone', 'BldgClass',
       'LandUse', 'Easements', 'OwnerType', 'OwnerName', 'LotArea', 'BldgArea',
       'ComArea', 'ResArea', 'OfficeArea', 'RetailArea', 'GarageArea',
       'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource', 'NumBldgs',
       'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront', 'LotDepth',
       'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode', 'LotType',
       'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand', 'ExemptTot',
       'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist', 'Landmark',
       'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode', 'BBL',
       'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'Version'],
      dtype='object')

In [17]:
final_cols=df[['ZipCode','Address','BldgClass','LandUse','OwnerType','OwnerName','LotArea','BldgArea',
       'ComArea','OfficeArea', 'RetailArea', 'GarageArea',
       'StrgeArea','NumFloors', 'UnitsRes','UnitsTotal','YearBuilt','BuiltFAR','CommFAR','XCoord', 'YCoord']]
final_cols.head(5)

,ZipCode,Address,BldgClass,LandUse,OwnerType,OwnerName,LotArea,BldgArea,ComArea,OfficeArea,...,GarageArea,StrgeArea,NumFloors,UnitsRes,UnitsTotal,YearBuilt,BuiltFAR,CommFAR,XCoord,YCoord
0,11101.0,2 STREET,Q1,9.0,C,DEPT OF GENERAL SERVI,1684828,0,0,0,...,0,0,0.0,0,0,0,0.00,0.0,NaN,NaN
1,11101.0,2 STREET,U2,7.0,P,NORCEM PROPERTIES INC,21139,0,0,0,...,0,0,0.0,0,0,0,0.00,0.0,995513.0,209421.0
2,11101.0,1-50 51 AVENUE,W1,8.0,C,NYC DEPT OF EDUCATION,33454,136108,136108,0,...,0,0,5.0,0,1,2011,4.07,0.0,995477.0,209867.0
3,11101.0,2 STREET,V0,11.0,C,HOUSING PRESERVATION,28703,0,0,0,...,0,0,0.0,0,0,0,0.00,0.0,NaN,NaN
4,11101.0,2 STREET,V0,11.0,C,HOUSING PRESERVATION,75847,0,0,0,...,0,0,0.0,0,0,0,0.00,0.0,NaN,NaN

In [40]:
final_cols.shape

(324403, 21)

In [20]:
(final_cols.isnull().sum()/len(final_cols)*100)

ZipCode        0.408443
Address        0.053637
BldgClass      0.052712
LandUse        0.222254
OwnerType     92.889400
OwnerName      0.477493
LotArea        0.000000
BldgArea       0.000000
ComArea        0.000000
OfficeArea     0.000000
RetailArea     0.000000
GarageArea     0.000000
StrgeArea      0.000000
NumFloors      0.000000
UnitsRes       0.000000
UnitsTotal     0.000000
YearBuilt      0.000000
BuiltFAR       0.000000
CommFAR        0.000000
XCoord         2.639926
YCoord         2.639926
dtype: float64

In [44]:
final_cols.shape

(324403, 21)

In [46]:
final_cols=(final_cols[  ((final_cols['ComArea']!=0))  ])
final_cols.shape

(28098, 21)

In [49]:
final_cols.drop('OwnerType',axis=1,inplace=True)

In [52]:
final_cols.to_csv('QN_Cleaned.csv')

In [53]:
mn=pd.read_csv(r'C:\Users\ABC\Downloads\MN.csv')
mn.head(5)

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (19,22,23,25,63,79) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,YCoord,ZoneMap,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,Version
0,MN,1,10,101,5.0,1018.0,2.0,1.0,10004.0,E007,...,190225.0,16a,Y,199 999,10101.0,NaN,0.0,NaN,1,16V2
1,MN,1,101,101,1.0,1001.0,2.0,1.0,10004.0,E007,...,190636.0,16a,Y,199 999,10101.0,NaN,0.0,NaN,1,16V2
2,MN,1,201,101,1.0,1000.0,2.0,1.0,10004.0,E007,...,193648.0,12b,NaN,199 999,10101.0,NaN,0.0,NaN,1,16V2
3,MN,1,301,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,12b,NaN,199 999,10101.0,NaN,0.0,NaN,4,16V2
4,MN,1,401,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,12b,NaN,1 99 999,10101.0,NaN,0.0,NaN,4,16V2

In [54]:
mn_cols=mn[['ZipCode','Address','BldgClass','LandUse','OwnerType','OwnerName','LotArea','BldgArea',
       'ComArea','OfficeArea', 'RetailArea', 'GarageArea',
       'StrgeArea','NumFloors', 'UnitsRes','UnitsTotal','YearBuilt','BuiltFAR','CommFAR','XCoord', 'YCoord']]
mn_cols.head(5)

,ZipCode,Address,BldgClass,LandUse,OwnerType,OwnerName,LotArea,BldgArea,ComArea,OfficeArea,...,GarageArea,StrgeArea,NumFloors,UnitsRes,UnitsTotal,YearBuilt,BuiltFAR,CommFAR,XCoord,YCoord
0,10004.0,1 GOVERNORS ISLAND,Y4,8.0,P,GOVERNORS ISLAND CORP,7736692,2725731,2725731,0,...,0,0,0.0,0,0,1900,0.35,0.0,979071.0,190225.0
1,10004.0,1 LIBERTY ISLAND,P7,8.0,X,U S GOVT LAND & BLDGS,541886,541886,541886,0,...,0,0,0.0,0,0,1900,1.00,0.0,971677.0,190636.0
2,10004.0,1 ELLIS ISLAND,Z9,NaN,X,U S GOVT LAND & BLDGS,2764190,603130,603130,0,...,0,0,0.0,0,0,1900,0.22,0.0,972790.0,193648.0
3,10004.0,JOE DIMAGGIO HIGHWAY,U0,7.0,NaN,NaN,0,0,0,0,...,0,0,0.0,0,0,0,0.00,0.0,NaN,NaN
4,10004.0,JOE DIMAGGIO HIGHWAY,U0,7.0,NaN,NaN,0,0,0,0,...,0,0,0.0,0,0,0,0.00,0.0,NaN,NaN

In [55]:
(mn_cols.isnull().sum()/len(mn_cols)*100)

ZipCode        0.365473
Address        0.179245
BldgClass      0.144327
LandUse        0.395735
OwnerType     58.336049
OwnerName      3.861912
LotArea        0.000000
BldgArea       0.000000
ComArea        0.000000
OfficeArea     0.000000
RetailArea     0.000000
GarageArea     0.000000
StrgeArea      0.000000
NumFloors      0.000000
UnitsRes       0.000000
UnitsTotal     0.000000
YearBuilt      0.000000
BuiltFAR       0.000000
CommFAR        0.000000
XCoord         1.538712
YCoord         1.538712
dtype: float64

In [56]:
mn_cols=(mn_cols[  ((mn_cols['ComArea']!=0))  ])
mn_cols.drop('OwnerType',axis=1,inplace=True)
mn_cols.to_csv('MN_Cleaned.csv')