# Description of extracted features

- borough code: Bronx(BX), Brooklyn(BK), Manhattan(MN), Queens(QN), Staten Island = SI
- zipcode: zip code
- address:  The general format is house number or low house number, if there is a house number range, and a space followed by a street name
- bldgclass(Building Class): A code describing the major use of structures
- landuse(land use category): A code for the land use category
- ownertype: A code indicating type of ownership
- ownername: The name of the owner of the lot
- lotarea: Total area of the lot, expressed in square feet rounded to the nearest integer.
- bldgarea(floor area, total building): The total gross area in square feet.
- comarea(floor area, commercial): An estimate of the exterior dimensions of the portion of the structure(s) allocated for commercial use
- officearea(floor area, office): An estimate of the exterior dimensions of the portion of the structure(s) allocated for office use
- retailarea(floor area, retail): An estimate of the exterior dimensions of the portion of the structure(s) allocated for real use
- garagearea(floor area, garage): An estimate of the exterior dimensions of the portion of the structure(s) allocated for garage use.
- strgearea(floor area, storage): An estimate of the exterior dimensions of the portion of the structure(s) allocated for storage or loft purposes
- numbldgs(number of buildings): The number of buildings on the lot.
- numfloors(number of floors): In the tallest building on the lot, the number of full and partial stories starting from the ground floor.
- unitres(residential units) : The sum of residential units in all buildings on the tax lot.
- unitstotal( resisdential and non-residential units): The sum of residential and non-residential (offices, retail stores, etc.) units in all buildings on the lot.
- yearbuilt: The year construction of the building was completed.
- commfar: maximum allowable commercial floor area ratio
- xcoord: The X coordinate of the XY coordinate pair which depicts the approximate location of the lot.
- ycoord: The Y coordinate of the XY coordinate pair which depicts the approximate location of the lot.

In [118]:
# import library
import pandas as pd

In [119]:
# read data as csv file
df = pd.read_csv('pluto_21v1.csv')

C:\Users\Dell\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (18,19,20,22,23,24,26,63,64,76,79,86) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [120]:
# check the first few records in data
df.head()

,borough,block,lot,cd,ct2010,cb2010,schooldist,council,zipcode,firecomp,...,appbbl,appdate,plutomapid,firm07_flag,pfirm15_flag,version,dcpedited,latitude,longitude,notes
0,SI,1701,96,501.0,303.02,4004.0,31.0,49.0,10303.0,E166,...,5.017010e+09,01/02/1992,1,NaN,NaN,21v1,NaN,40.624031,-74.155358,NaN
1,MN,16,7502,101.0,317.04,2000.0,2.0,1.0,10280.0,E010,...,1.000162e+09,08/25/1988,1,1.0,1.0,21v1,NaN,40.710107,-74.017570,NaN
2,MN,348,46,103.0,14.02,2001.0,1.0,1.0,10002.0,L018,...,NaN,NaN,1,NaN,NaN,21v1,NaN,40.718566,-73.984816,NaN
3,MN,2241,25,112.0,295.00,4002.0,6.0,10.0,10034.0,E095,...,NaN,NaN,1,NaN,NaN,21v1,NaN,40.867690,-73.922277,NaN
4,BK,3234,13,304.0,423.00,3001.0,32.0,37.0,11221.0,E218,...,NaN,NaN,1,NaN,NaN,21v1,NaN,40.698885,-73.925434,NaN

In [121]:
# descriptive statistics
df.describe()

,block,lot,cd,ct2010,cb2010,schooldist,council,zipcode,policeprct,healthcenterdistrict,...,xcoord,ycoord,taxmap,appbbl,plutomapid,firm07_flag,pfirm15_flag,latitude,longitude,notes
count,858774.000000,858774.000000,857963.000000,857963.000000,857964.000000,857260.000000,857962.000000,857241.000000,857252.000000,857253.000000,...,8.578630e+05,857863.000000,857140.000000,9.333100e+04,858774.000000,34727.0,65766.0,857863.000000,857863.000000,0.0
mean,5308.840994,137.198584,354.667242,462.311375,2054.482358,22.053684,32.114565,11011.541750,87.041810,38.303678,...,1.005930e+06,191288.224002,36706.216868,3.747372e+09,1.003803,1.0,1.0,40.691631,-73.921737,NaN
std,3700.403084,760.793163,100.897535,377.602840,1158.547515,7.981403,13.248791,471.499835,29.370464,9.621196,...,3.274116e+04,30770.803478,10878.896829,1.221718e+09,0.082546,0.0,0.0,0.084451,0.118027,NaN
min,0.000000,0.000000,101.000000,1.000000,1.000000,1.000000,1.000000,10001.000000,1.000000,11.000000,...,9.131640e+05,120146.000000,1.000000,1.000020e+09,1.000000,1.0,1.0,40.496171,-74.255628,NaN
25%,2314.000000,19.000000,306.000000,170.000000,1004.000000,17.000000,22.000000,10466.000000,66.000000,33.000000,...,9.892500e+05,167903.000000,31101.000000,3.023285e+09,1.000000,1.0,1.0,40.627499,-73.981976,NaN
50%,4815.000000,39.000000,402.000000,350.000000,2001.000000,24.000000,32.000000,11221.000000,102.000000,41.000000,...,1.008773e+06,189027.000000,40601.000000,4.049610e+09,1.000000,1.0,1.0,40.685426,-73.911538,NaN
75%,7462.000000,64.000000,412.000000,662.000000,3000.000000,29.000000,45.000000,11370.000000,111.000000,45.000000,...,1.029203e+06,210895.000000,44702.000000,5.022625e+09,1.000000,1.0,1.0,40.745424,-73.837754,NaN
max,99999.000000,9502.000000,595.000000,9901.000000,9003.000000,32.000000,51.000000,12345.000000,123.000000,51.000000,...,1.067279e+06,272730.000000,53203.000000,5.080490e+09,5.000000,1.0,1.0,40.915219,-73.700381,NaN

In [122]:
# the number of rows and columns
df.columns

Index(['borough', 'block', 'lot', 'cd', 'ct2010', 'cb2010', 'schooldist',
       'council', 'zipcode', 'firecomp', 'policeprct', 'healthcenterdistrict',
       'healtharea', 'sanitboro', 'sanitdistrict', 'sanitsub', 'address',
       'zonedist1', 'zonedist2', 'zonedist3', 'zonedist4', 'overlay1',
       'overlay2', 'spdist1', 'spdist2', 'spdist3', 'ltdheight', 'splitzone',
       'bldgclass', 'landuse', 'easements', 'ownertype', 'ownername',
       'lotarea', 'bldgarea', 'comarea', 'resarea', 'officearea', 'retailarea',
       'garagearea', 'strgearea', 'factryarea', 'otherarea', 'areasource',
       'numbldgs', 'numfloors', 'unitsres', 'unitstotal', 'lotfront',
       'lotdepth', 'bldgfront', 'bldgdepth', 'ext', 'proxcode', 'irrlotcode',
       'lottype', 'bsmtcode', 'assessland', 'assesstot', 'exempttot',
       'yearbuilt', 'yearalter1', 'yearalter2', 'histdist', 'landmark',
       'builtfar', 'residfar', 'commfar', 'facilfar', 'borocode', 'bbl',
       'condono', 'tract2010', 'xcoord', 'ycoord', 'zonemap', 'zmcode',
       'sanborn', 'taxmap', 'edesignum', 'appbbl', 'appdate', 'plutomapid',
       'firm07_flag', 'pfirm15_flag', 'version', 'dcpedited', 'latitude',
       'longitude', 'notes'],
      dtype='object')

In [123]:
df[df['landuse'] == 5.0]

,borough,block,lot,cd,ct2010,cb2010,schooldist,council,zipcode,firecomp,...,appbbl,appdate,plutomapid,firm07_flag,pfirm15_flag,version,dcpedited,latitude,longitude,notes
6,QN,7309,21,411.0,1447.00,1001.0,26.0,19.0,11361.0,E306,...,4.073090e+09,01/06/1997,1,NaN,NaN,21v1,NaN,40.759072,-73.772509,NaN
20,MN,70,7501,101.0,15.02,2008.0,2.0,1.0,10038.0,E004,...,1.000700e+09,11/30/2006,1,1.0,1.0,21v1,NaN,40.706597,-74.006258,NaN
21,MN,65,7502,101.0,15.02,1001.0,2.0,1.0,10038.0,E004,...,1.000650e+09,07/11/2013,1,NaN,NaN,21v1,NaN,40.710020,-74.009371,NaN
25,QN,9836,13,408.0,446.02,1000.0,28.0,24.0,11432.0,L125,...,NaN,NaN,1,NaN,NaN,21v1,NaN,40.709123,-73.798848,NaN
32,MN,71,7501,101.0,15.02,2010.0,2.0,1.0,10038.0,E004,...,1.000710e+09,02/26/1997,1,1.0,1.0,21v1,NaN,40.706361,-74.005129,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
856169,BX,3158,5,205.0,383.01,1001.0,10.0,15.0,10457.0,E048,...,NaN,NaN,1,NaN,NaN,21v1,NaN,40.856268,-73.900091,NaN
856413,QN,12273,39,412.0,294.00,1012.0,27.0,28.0,11434.0,L155,...,NaN,NaN,1,NaN,NaN,21v1,NaN,40.674180,-73.780102,NaN
856476,SI,4265,22,503.0,132.04,3000.0,31.0,50.0,10306.0,E165,...,NaN,NaN,1,NaN,NaN,21v1,NaN,40.565054,-74.128407,NaN
856969,MN,998,26,105.0,119.00,1000.0,2.0,4.0,10036.0,L004,...,NaN,NaN,1,NaN,NaN,21v1,NaN,40.757218,-73.983205,NaN
856981,MN,1319,8,106.0,90.00,1000.0,2.0,4.0,10017.0,L002,...,NaN,NaN,1,NaN,NaN,21v1,t,40.752591,-73.972223,NaN

In [124]:
df[['ownertype']].value_counts()

ownertype
X            19551
C            12849
O             1401
P              576
M              131
dtype: int64

In [125]:
df.columns

Index(['borough', 'block', 'lot', 'cd', 'ct2010', 'cb2010', 'schooldist',
       'council', 'zipcode', 'firecomp', 'policeprct', 'healthcenterdistrict',
       'healtharea', 'sanitboro', 'sanitdistrict', 'sanitsub', 'address',
       'zonedist1', 'zonedist2', 'zonedist3', 'zonedist4', 'overlay1',
       'overlay2', 'spdist1', 'spdist2', 'spdist3', 'ltdheight', 'splitzone',
       'bldgclass', 'landuse', 'easements', 'ownertype', 'ownername',
       'lotarea', 'bldgarea', 'comarea', 'resarea', 'officearea', 'retailarea',
       'garagearea', 'strgearea', 'factryarea', 'otherarea', 'areasource',
       'numbldgs', 'numfloors', 'unitsres', 'unitstotal', 'lotfront',
       'lotdepth', 'bldgfront', 'bldgdepth', 'ext', 'proxcode', 'irrlotcode',
       'lottype', 'bsmtcode', 'assessland', 'assesstot', 'exempttot',
       'yearbuilt', 'yearalter1', 'yearalter2', 'histdist', 'landmark',
       'builtfar', 'residfar', 'commfar', 'facilfar', 'borocode', 'bbl',
       'condono', 'tract2010', 'xcoord', 'ycoord', 'zonemap', 'zmcode',
       'sanborn', 'taxmap', 'edesignum', 'appbbl', 'appdate', 'plutomapid',
       'firm07_flag', 'pfirm15_flag', 'version', 'dcpedited', 'latitude',
       'longitude', 'notes'],
      dtype='object')

In [126]:
# list the features to be dropped
cols_drop = ['block', 'lot', 'cd', 'ct2010', 'cb2010', 'schooldist',
       'council', 'firecomp', 'policeprct', 'healtharea', 'healthcenterdistrict',
       'sanitboro', 'sanitdistrict', 'sanitsub', 'zonedist1',
       'zonedist2', 'zonedist3', 'zonedist4', 'overlay1', 'overlay2',
       'spdist1', 'spdist2', 'spdist3', 'ltdheight', 'splitzone',
        'easements', 'ownertype', 'lotfront', 'lotdepth', 'resarea', 'factryarea', 'otherarea', 'areasource',  'bldgfront', 'bldgdepth', 'ext', 'proxcode', 'irrlotcode', 'lottype',
       'bsmtcode', 'assessland', 'assesstot', 'exempttot', 'yearalter1', 'yearalter2', 'histdist', 'landmark', 'builtfar', 'residfar', 'facilfar', 'borocode', 'bbl',
        'condono', 'tract2010', 'zonemap', 'zmcode', 'sanborn', 'taxmap', 'edesignum', 'appbbl', 'appdate', 'plutomapid', 'firm07_flag', 'pfirm15_flag', 'version', 'dcpedited', 'notes']


# Drop columns
df.drop(cols_drop, axis = 1, inplace = True)
df.shape

(858774, 23)

In [127]:
# Check updated columns
df.columns

Index(['borough', 'zipcode', 'address', 'bldgclass', 'landuse', 'ownername',
       'lotarea', 'bldgarea', 'comarea', 'officearea', 'retailarea',
       'garagearea', 'strgearea', 'numbldgs', 'numfloors', 'unitsres',
       'unitstotal', 'yearbuilt', 'commfar', 'xcoord', 'ycoord', 'latitude',
       'longitude'],
      dtype='object')

In [128]:
# # Check updated dataframe
df.head()

,borough,zipcode,address,bldgclass,landuse,ownername,lotarea,bldgarea,comarea,officearea,...,numbldgs,numfloors,unitsres,unitstotal,yearbuilt,commfar,xcoord,ycoord,latitude,longitude
0,SI,10303.0,HEATHER COURT,Z7,NaN,WOODMONT WEST HOA INC,3900.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,941123.0,166666.0,40.624031,-74.155358
1,MN,10280.0,320 ALBANY STREET,R4,3.0,HUDSON TOWER,27838.0,123284.0,11136.0,0.0,...,1.0,15.0,133.0,135.0,1986.0,0.0,979379.0,197988.0,40.710107,-74.017570
2,MN,10002.0,80 CLINTON STREET,K4,4.0,JANE ARDSLEY FROCKS INC,12870.0,31314.0,19314.0,4500.0,...,2.0,5.0,8.0,10.0,1910.0,0.0,988459.0,201070.0,40.718566,-73.984816
3,MN,10034.0,4915 BROADWAY,D7,4.0,4915 BROADWAY REALTYLLC,30000.0,107085.0,12000.0,8000.0,...,1.0,6.0,94.0,100.0,1936.0,0.0,1005747.0,255410.0,40.867690,-73.922277
4,BK,11221.0,684 HART STREET,C0,2.0,"VARGAS, MERCED",1500.0,2700.0,0.0,0.0,...,1.0,3.0,3.0,3.0,1901.0,0.0,1004926.0,193908.0,40.698885,-73.925434

In [130]:
# check for % of null values in column
df.isnull().sum()/len(df)*100

borough       0.000000
zipcode       0.178510
address       0.075340
bldgclass     0.074991
landuse       0.352130
ownername     0.126925
lotarea       0.124713
bldgarea      0.076272
comarea       5.553498
officearea    5.553498
retailarea    5.553498
garagearea    5.553498
strgearea     5.553498
numbldgs      0.124480
numfloors     0.124713
unitsres      0.075340
unitstotal    0.075340
yearbuilt     0.075340
commfar       0.000000
xcoord        0.106081
ycoord        0.106081
latitude      0.106081
longitude     0.106081
dtype: float64

In [139]:
# drop all na values from the dataframe
df1 = df.dropna()
df1.shape

(809881, 23)

In [140]:
# confirm null values have been dropped
df1.isnull().sum()/len(df1)*100

borough       0.0
zipcode       0.0
address       0.0
bldgclass     0.0
landuse       0.0
ownername     0.0
lotarea       0.0
bldgarea      0.0
comarea       0.0
officearea    0.0
retailarea    0.0
garagearea    0.0
strgearea     0.0
numbldgs      0.0
numfloors     0.0
unitsres      0.0
unitstotal    0.0
yearbuilt     0.0
commfar       0.0
xcoord        0.0
ycoord        0.0
latitude      0.0
longitude     0.0
dtype: float64

In [138]:
# export the dataframe in csv format
df1.to_csv('NYCBuildings21_clean.csv', index = False)