In [1]:
import pandas as pd
savings=pd.read_csv(r'C:\Users\ABC\Downloads\SAVINGS.csv')
expenditure=pd.read_csv(r'C:\Users\ABC\Downloads\costs.csv')

In [3]:
expenditure.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'], inplace=True)

expenditure.head(10)

,company_id,project_id,option_id,option_calc_id,operating_schedule_id,rate_schedule_id,net_replacement_cost,total_incentives,total_cogs,replacement_cost_per_year,...,kwh_cost,fixture_item_cost,fixture_labor_cost,fixture_tax_cost,fixture_total_cost,replacement_fixture_cost,replacement_labor_cost,replacement_tax_cost,simple_payback,solution_id
0,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,33.8000,0.0,0.0,33.8000,67.6000,0.0,0.0,1.546073,156
1,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,5.1940,0.0,0.0,5.1940,5.1940,0.0,0.0,0.065219,146
2,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,19.4775,0.0,0.0,19.4775,545.3700,0.0,0.0,0.623655,145
3,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,21.5551,0.0,0.0,21.5551,43.1102,0.0,0.0,0.673345,148
4,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,21.5551,0.0,0.0,21.5551,172.4408,0.0,0.0,0.673345,148
5,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,37.9162,0.0,0.0,37.9162,644.5754,0.0,0.0,0.505854,151
6,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,19.4775,0.0,0.0,19.4775,116.8650,0.0,0.0,0.623655,145
7,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,19.4775,0.0,0.0,19.4775,38.9550,0.0,0.0,0.623655,145
8,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,37.9162,0.0,0.0,37.9162,37.9162,0.0,0.0,0.674472,147
9,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,21.5551,0.0,0.0,21.5551,193.9959,0.0,0.0,0.673345,148

In [29]:
savings.shape, expenditure.shape

((88014, 30), (364190, 38))

In [ ]:
savings.columns

In [ ]:
expenditure.columns

In [10]:
savings.drop(columns='Unnamed: 0', inplace=True)

In [ ]:
print(f'Duplicates in Savings {len(savings[savings.duplicated()])} and Duplicates in Expenditures {len(expenditure[expenditure.duplicated()])}')

In [7]:
expenditure[expenditure.duplicated(subset =['company_id', 'project_id', 'option_id', 'option_calc_id',
       'operating_schedule_id', 'rate_schedule_id', 'net_replacement_cost',
       'total_incentives', 'total_cogs', 'replacement_cost_per_year',
       'total_fixture_cost', 'original_cost_per_year', 'total_labor_cost',
       'total_misc_cost', 'total_tax_cost', 'original_energy_cost_per_year',
       'original_maintenance_cost_per_year',
       'replacement_energy_cost_per_year', 'internal_return', 'payback',
       'energy_cost', 'maintenance_cost', 'demand_cost', 'existing_kw',
       'proposed_kw', 'existing_kwh', 'proposed_kwh', 'annual_hours',
       'kwh_cost', 'fixture_item_cost', 'fixture_labor_cost',
       'fixture_tax_cost', 'fixture_total_cost', 'replacement_fixture_cost',
       'replacement_labor_cost', 'replacement_tax_cost', 'simple_payback',
       'solution_id'] )]

,company_id,project_id,option_id,option_calc_id,operating_schedule_id,rate_schedule_id,net_replacement_cost,total_incentives,total_cogs,replacement_cost_per_year,...,kwh_cost,fixture_item_cost,fixture_labor_cost,fixture_tax_cost,fixture_total_cost,replacement_fixture_cost,replacement_labor_cost,replacement_tax_cost,simple_payback,solution_id
10,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,21.5551,0.0,0.00,21.5551,172.4408,0.0,0.00,0.673345,148
19,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,5.1940,0.0,0.00,5.1940,5.1940,0.0,0.00,0.065219,146
20,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,21.5551,0.0,0.00,21.5551,323.3265,0.0,0.00,0.673345,148
23,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,37.9162,0.0,0.00,37.9162,265.4134,0.0,0.00,0.505854,151
25,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,33.8000,0.0,0.00,33.8000,67.6000,0.0,0.00,1.546073,156
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2188813,842.0,11031,9478,9474,12606,6661,11769.87000,2094.0,13863.87,4796.42850,...,0.18,24.0000,29.0,3.12,56.1200,24.0000,29.0,3.12,1.831050,77237
2188814,842.0,11031,9478,9474,12606,6661,11769.87000,2094.0,13863.87,4796.42850,...,0.18,36.0000,29.0,4.68,69.6800,432.0000,348.0,56.16,2.453842,77227
2188816,842.0,11031,9478,9474,12606,6661,11769.87000,2094.0,13863.87,4796.42850,...,0.18,36.0000,29.0,4.68,69.6800,216.0000,174.0,28.08,2.453842,77227
2188817,842.0,11031,9478,9474,12606,6661,11769.87000,2094.0,13863.87,4796.42850,...,0.18,36.0000,29.0,4.68,69.6800,72.0000,58.0,9.36,2.453842,77227
2188819,842.0,11031,9478,9474,12606,6661,11769.87000,2094.0,13863.87,4796.42850,...,0.18,36.0000,29.0,4.68,69.6800,144.0000,116.0,18.72,2.453842,77227

In [9]:
expenditure[expenditure['solution_id']==148]

,company_id,project_id,option_id,option_calc_id,operating_schedule_id,rate_schedule_id,net_replacement_cost,total_incentives,total_cogs,replacement_cost_per_year,...,kwh_cost,fixture_item_cost,fixture_labor_cost,fixture_tax_cost,fixture_total_cost,replacement_fixture_cost,replacement_labor_cost,replacement_tax_cost,simple_payback,solution_id
3,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,21.5551,0.0,0.0,21.5551,43.1102,0.0,0.0,0.673345,148
4,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,21.5551,0.0,0.0,21.5551,172.4408,0.0,0.0,0.673345,148
9,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,21.5551,0.0,0.0,21.5551,193.9959,0.0,0.0,0.673345,148
10,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,21.5551,0.0,0.0,21.5551,172.4408,0.0,0.0,0.673345,148
17,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,21.5551,0.0,0.0,21.5551,323.3265,0.0,0.0,0.673345,148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,21.5551,0.0,0.0,21.5551,172.4408,0.0,0.0,0.673345,148
484,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,21.5551,0.0,0.0,21.5551,193.9959,0.0,0.0,0.673345,148
485,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,21.5551,0.0,0.0,21.5551,172.4408,0.0,0.0,0.673345,148
492,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,21.5551,0.0,0.0,21.5551,323.3265,0.0,0.0,0.673345,148
495,49.0,75,37,1268,95,50,10290.33985,0.0,4407.28,4814.28948,...,0.15,21.5551,0.0,0.0,21.5551,323.3265,0.0,0.0,0.673345,148

In [13]:
expenditure.columns
savings.columns

Index(['option_id', 'option_calc_id', 'project_id', 'company_id',
       'existing_lighting_id', 'encentiv_id', 'industry_type_id',
       'default_lighting_template_id', 'use', 'created_at', 'updated_at',
       'rebates', 'assigned_rebates', 'disable_solution_rebates', 'name',
       'existing_quantity', 'proposed_quantity', 'existing_kwh',
       'proposed_kwh', 'kwh_proposed_annual_savings', 'existing_kw',
       'proposed_kw', 'kw_proposed_annual_savings', 'energy_savings_per_year',
       'total_cogs', 'total_incentives', 'internal_return', 'payback',
       'maintenance_savings_per_year', 'total_savings_per_year'],
      dtype='object')

### Removing The Duplicate Rows:

In [14]:
savings.drop_duplicates( keep=False,inplace=True)
expenditure.drop_duplicates( keep=False,inplace=True)

In [31]:
savings.shape,expenditure.shape

((88014, 22), (364190, 38))

In [30]:
 savings.drop(['existing_kw','proposed_kw', 'existing_kwh', 'proposed_kwh','internal_return', 'payback','total_incentives', 'total_cogs'], axis=1, inplace=True)

In [37]:
savings=savings[savings['use']=='t']

In [16]:
print("Columns which have mostly zero's ")
for i in expenditure.columns:
    if len(expenditure[expenditure[i]==0])/len(expenditure)*100 >=75:
        print(i,":", len(expenditure[expenditure[i]==0])/len(expenditure)*100,"%")
print()
print("Columns with high null values ")
for i in expenditure.columns:
    if (expenditure[i].isnull().sum()/len(expenditure))*100 >= 30:
        print(i,":", expenditure[i].isnull().sum()/len(expenditure)*100, "%")

Columns which have mostly zero's
maintenance_cost : 92.56981246052885 %
demand_cost : 99.17076251407234 %
fixture_tax_cost : 75.49630687278618 %
replacement_tax_cost : 75.55122326258272 %

Columns with high null values

### Redundant Columns
['existing_kw','proposed_kw', 'existing_kwh', 'proposed_kwh','internal_return', 'payback','total_incentives', 'total_cogs'], axis=1, inplace=True)

### Merging The DataFrames

In [39]:
Final=savings.merge(expenditure,on=['option_id','option_calc_id','project_id','company_id'],how='inner')

In [40]:
Final.shape

(6513850, 56)

In [19]:
Final[Final.duplicated()]

Empty DataFrame
Columns: [option_id, option_calc_id, project_id, company_id, existing_lighting_id, encentiv_id, industry_type_id, default_lighting_template_id, use, created_at, updated_at, rebates, assigned_rebates, disable_solution_rebates, name, existing_quantity, proposed_quantity, existing_kwh_x, proposed_kwh_x, kwh_proposed_annual_savings, existing_kw_x, proposed_kw_x, kw_proposed_annual_savings, energy_savings_per_year, total_cogs_x, total_incentives_x, internal_return_x, payback_x, maintenance_savings_per_year, total_savings_per_year, operating_schedule_id, rate_schedule_id, net_replacement_cost, total_incentives_y, total_cogs_y, replacement_cost_per_year, total_fixture_cost, original_cost_per_year, total_labor_cost, total_misc_cost, total_tax_cost, original_energy_cost_per_year, original_maintenance_cost_per_year, replacement_energy_cost_per_year, internal_return_y, payback_y, energy_cost, maintenance_cost, demand_cost, existing_kw_y, proposed_kw_y, existing_kwh_y, proposed_kwh_y, annual_hours, kwh_cost, fixture_item_cost, fixture_labor_cost, fixture_tax_cost, fixture_total_cost, replacement_fixture_cost, replacement_labor_cost, replacement_tax_cost, simple_payback, solution_id]
Index: []

[0 rows x 64 columns]

In [ ]:
Final.shape

In [26]:
Final[['existing_kwh_x','existing_kwh_y']].tail(20)

         existing_kwh_x  existing_kwh_y
8811330      223715.016      223715.016
8811331      223715.016      223715.016
8811332      223715.016      223715.016
8811333      223715.016      223715.016
8811334      223715.016      223715.016
8811335      223715.016      223715.016
8811336      223715.016      223715.016
8811337      223715.016      223715.016
8811338      223715.016      223715.016
8811339      223715.016      223715.016
8811340      223715.016      223715.016
8811341      223715.016      223715.016
8811342      223715.016      223715.016
8811343      223715.016      223715.016
8811344      223715.016      223715.016
8811345      223715.016      223715.016
8811346      223715.016      223715.016
8811347      223715.016      223715.016
8811348      223715.016      223715.016
8811349      223715.016      223715.016

In [42]:
Final = Final[['option_id', 'option_calc_id', 'project_id', 'company_id',
       'existing_lighting_id',  'industry_type_id','solution_id',
       'default_lighting_template_id', 'operating_schedule_id', 'rate_schedule_id',
       'rebates', 'name','existing_kw',
       'proposed_kw', 'existing_kwh', 'proposed_kwh','annual_hours',
       'existing_quantity', 'proposed_quantity', 'kwh_proposed_annual_savings',
     'kw_proposed_annual_savings', 'energy_savings_per_year',
               
       'net_replacement_cost','total_incentives', 'total_cogs', 'replacement_cost_per_year',
       'total_fixture_cost', 'original_cost_per_year', 'total_labor_cost',
       'total_misc_cost', 'total_tax_cost', 'original_energy_cost_per_year',
       'original_maintenance_cost_per_year','replacement_energy_cost_per_year', 
       'energy_cost', 'maintenance_cost', 'demand_cost',  
       'kwh_cost', 'fixture_item_cost', 'fixture_labor_cost',
       'fixture_tax_cost', 'fixture_total_cost', 'replacement_fixture_cost',
       'replacement_labor_cost', 'replacement_tax_cost',
        
        'maintenance_savings_per_year','total_savings_per_year','internal_return', 'payback','simple_payback']]

In [43]:
Final.to_csv('Expenditure_Savings.csv')

In [44]:
Final.shape

(6513850, 50)

In [45]:
print("Columns which have mostly zero's ")
for i in Final.columns:
    if len(Final[Final[i]==0])/len(Final)*100 >=75:
        print(i,":", len(Final[Final[i]==0])/len(Final)*100,"%")
print()
print("Columns with high null values ")
for i in expenditure.columns:
    if (Final[i].isnull().sum()/len(Final))*100 >= 30:
        print(i,":", Final[i].isnull().sum()/len(Final)*100, "%")

Columns which have mostly zero's
total_tax_cost : 85.39788297243565 %
maintenance_cost : 93.93784014062344 %
demand_cost : 99.45531444537409 %
fixture_tax_cost : 86.67116989184584 %
replacement_tax_cost : 86.69450478595608 %

Columns with high null values